<!-- Different -->

<?php

/* Backlink */
/* Here you can write the link of (back to arrow) on top of the panel */
/* if you change the (admin address) you shoul write the new one here */
$DefaultClientBackLink = '/clientarea.php?action=productdetails';
$DefaultAdminBackLink = '/admin/clientsservices.php';


?>


